* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.judul {
    height: 80px;
    background-color: #121313;
}

.judul h2{
    padding: 20px;
    text-align: center;
    color: #f5f5f5;
    font-size: 2em ;
}

.wrap {
    margin: auto;
}

table {
    color: #000000;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #121313;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -4px rgb(102, 102, 102);
}
 
table tr th{
    background: #2e2e2e;
    color: #ffffff;
    font-weight: normal;
    
}
 
table th, td {
    padding: 8px 20px;
    text-align: center;
}
 
table tr:hover {
    background-color: #dddddd;
}

table tr:nth-child(even) {
    background-color: #dddddd;
}

.but-tambahdata {
    margin: 8px;
    padding: 8px;
    background-color: #29b272;
    border-radius: 8px;
    border-style: hidden;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em ;
    text-decoration: none;
    
}

.but-tambahdata:hover {
    background-color: #105536;
}

.but-kembali {
    margin: 8px;
    padding: 10px;
    background-color: #ebd700;
    border-radius: 8px;
    border-style: hidden;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em ;
    text-decoration: none;
}


.but-kembali:hover {
    background-color: #a09300;
}

.but-simpan {
    margin: 8px;
    padding: 10px;
    background-color: #ebd700;
    border-radius: 8px;
    border-style: hidden;
    color: #000000;
    font-weight: bold;
    font-size: 1.2em ;
    text-decoration: none;
}

.but-simpan:hover {
    background-color: #a09300;
}

.but-edit {
    background-color: #29b272;
    padding: 7px;
    border-radius: 4px;
    border-style: hidden; 
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
}

.but-edit:hover{
    background-color: #105536;
}

.but-delete {
    background-color: #ff0f27;
    padding: 7px;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-style: hidden;
    font-size: 1em;
}

.but-delete:hover {
    background-color: #880916;
}

a {
    color: black;
    text-decoration: none;
}

div.swal2-actions button.swal2-confirm {
    background-color: #29b272;
}

div.swal2-actions button.swal2-cancel {
    background-color: #ff0f27;
}